#logo img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

#settings {
    cursor: pointer;
    transition: all 0.05s ease-in;
}

#settings img {
    border-radius: 50%;
    margin-top: 3px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

#settings:hover{
    opacity: 0.7;
    background-color: lightgrey;
}

#close {
    background-color: transparent;
    border: 0;
    font-size: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 6px;
    border-radius: 50%;
    transition: all 0.05s ease-in;
}

#close:hover{
    opacity: 0.7;
    background-color: lightgrey;
}

.container{
    background-image: linear-gradient(rgb(200, 194, 218), rgb(232, 229, 238));
    background-position:center;
    background-size:cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.search-bar{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.search-bar button{
    background-color: rgb(0,90,140);
    border: 0;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    cursor: flex;
    position: absolute;
    margin-left: 140px;
    margin-right: 20px;
    height: 40px;
    width: 45px;
}

.search-bar input{
    width: 100%;
    margin-right: 30px;
    border: transparent;
    outline: transparent;
    background: white;
    padding: 0 10px;
    font-size: 16px;
    line-height: 40px;
    color: #000;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: #000;
}
    
.search-bar img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 4px;
}

#product_image {
    width: 200px;
    height: 150px;
}

.marketplace_picker {
    border-style: hidden;
    border-radius: 10px;
    background-color: rgb(0,90,140);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
    padding: 10px;
    display: flex;
}

.company {
    flex: 25%;
    margin: 5px;
    background-color: none;
    transition: all 0.05s ease-in;
    cursor: pointer;
}

.company img {
    width: 90%;
    height: 90%;
    line-height: 90%;
    filter: brightness(0) invert(1);
}

.company:hover {
    opacity: 0.6;
}

#on {
    filter: invert(1);
    background-color: black;
}

.stats div {
    background-color: #D9D9D9;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.stats p {
    background-color: white;
    border-radius: 10px;
}

#price {
    float: left;
}

#shipping {
    float: right;
}

#reviews {
    clear: both;
    text-align: center;
}

#reviews img {
    width: 20px;
    height: 20px;
    background-color: white;

}