#header img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

#product p {
    border: 10px hidden;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 3px 0px 3px 0px;
}

#product {
    padding: 0px 10px 0px 10px
}

#product_image img {
    width: 200px;
    height: 150px;
}

#marketplace_picker {
    border-style: hidden;
    border-radius: 5px;
    background-color: rgb(0,90,140);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    padding: 15px 30px 15px 30px; 
}

#marketplace_picker img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-color: white;
}

.container{
    background-image: linear-gradient(rgb(200, 194, 218), rgb(232, 229, 238));
    background-position:center;
    background-size:cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.search-bar{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.search-bar button{
    background-color: rgb(0,90,140);
    border: 0;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    cursor: flex;
    position: absolute;
    margin-left: 130px;
    margin-right: 20px;
    height: 40px;
}

.search-bar input{
    width: 100%;
    margin-right: 20px;
    border: transparent;
    outline: transparent;
    background: white;
    padding: 0 10px;
    font-size: 16px;
    line-height: 40px;
    color: #000;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: #000;
}
    
.search-bar img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 15px;
}