#header img {
    padding: 0px 10px 10px 10px;
    width: 30px;
    height: 30px;
}

#current {
    clear: right;
    border-style: solid;
    border-radius: 10px;
}

#current img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

#competitors img {
    margin: 10px;
    border: 20px solid rgb(17, 10, 229);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}