body {
  margin: 0;
}

#logo img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  margin-top: -5px;
}

#backbutton img{
  width: 20px;
  height: 20px;
  line-height: 30px;
  margin-right: 10px;    
}

#backbutton img:hover {
    opacity: 0.6;
}

.draggable {
  width: 133px;
  padding: 1rem;
  background-color: white;
  cursor: move;
  text-align: center;
  border-radius: 40px;
  vertical-align: center;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.25);

}

.holder{
    text-align: center;
    padding-top: 35px;
    margin: 20px;
}

.draggable.dragging {
  opacity: .5;
}